<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-constraint>
        <display-name>ConstraintSSL</display-name>
        <web-resource-collection>
            <web-resource-name>protected</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
    </security-constraint>
    <listener>
        <listener-class>com.jevents.listeners.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>css</param-name>
        <param-value>resources/css</param-value>
    </context-param>
    <context-param>
        <param-name>js</param-name>
        <param-value>resources/js</param-value>
    </context-param>
    <context-param>
        <param-name>img</param-name>
        <param-value>resources/images</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.jevents.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>com.jevents.filter.NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/signup.jsp</url-pattern>
        <url-pattern>/logout.jsp</url-pattern>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/Signup</url-pattern>
        <url-pattern>/Logout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/Profile</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.jevents.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.jevents.controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.jevents.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.jevents.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.jevents.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPostServlet</servlet-name>
        <servlet-class>com.jevents.controller.GetPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReplyServlet</servlet-name>
        <servlet-class>com.jevents.controller.GetReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReplyServlet</servlet-name>
        <servlet-class>com.jevents.controller.AddReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostsServlet</servlet-name>
        <servlet-class>com.jevents.controller.AddPostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelPostsServlet</servlet-name>
        <servlet-class>com.jevents.controller.DelPostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelReplyServlet</servlet-name>
        <servlet-class>com.jevents.controller.DelReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminActivityServlet</servlet-name>
        <servlet-class>com.jevents.controller.AdminActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateActivity</servlet-name>
        <servlet-class>com.jevents.Activity.CreateActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewActivity</servlet-name>
        <servlet-class>com.jevents.Activity.ViewActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayActivity</servlet-name>
        <servlet-class>com.jevents.Activity.DisplayActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.jevents.search.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.jevents.controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
        <url-pattern>/Activities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostServlet</servlet-name>
        <url-pattern>/GetPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReplyServlet</servlet-name>
        <url-pattern>/GetReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReplyServlet</servlet-name>
        <url-pattern>/AddReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostsServlet</servlet-name>
        <url-pattern>/AddPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelPostsServlet</servlet-name>
        <url-pattern>/DelPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelReplyServlet</servlet-name>
        <url-pattern>/DelReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActivityServlet</servlet-name>
        <url-pattern>/AdminActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewActivity</servlet-name>
        <url-pattern>/ViewActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayActivity</servlet-name>
        <url-pattern>/DisplayActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings for login and signup</description>
            <url-pattern>/signup.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header for other pages</description>
            <url-pattern>/WEB-INF/view/dashboard.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/adminActivity.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/headerO.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <description>Activities</description>
            <url-pattern>/displayActivity.jsp</url-pattern>
            <url-pattern>/viewActivity.jsp</url-pattern>
            <url-pattern>/rateActivity.jsp</url-pattern>
            <url-pattern>/createActivity.jsp</url-pattern>
            <url-pattern>/search.jsp</url-pattern>
            <url-pattern>/addreply.jsp</url-pattern>
            <url-pattern>/addposts.jsp</url-pattern>
            <url-pattern>/addres.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/profile.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/actheader.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/actfooter.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
